@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --branco:#FAFAFA;
    --preto:#202020;
    --laranja:#DF6F3E;
    --laranja-escuro:#CF5E2C;
    --azul:#215454;
    --azul-escuro:#214245;
}
*{
    margin: 0;
    padding: 1%;
    border-left: 10%;
    box-sizing: border-box;
    min-height: 5vh; 
    min-width: 5vh; 
}

:root{
    font-family: Inter, sans-serif;

    background-color: #F5F5F5;
    color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.select{
    padding: 6rem;
}

#category-select label{
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
}

#select-button {
    margin-top: .5rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;

    border-radius: .375rem;
    border: 1px solid #252529;
    background-color: #ffffff;
}

#selected-value{
    font-size: 0.875rem;
    letter-spacing: 0.02625rem;
}

#chevrons svg{
    width: 1rem;
    height: 1rem;
}

#chevrons [data-lucide="chevron-up"]{
    display: none;  
}

#options-view-button:focus + #select-button,
#options-view-button:checked + select-button {
    outline: 1px solid #D29EE5;
}

#category-select:has(#options-view-button:checked) label,
#options-view-button:checked + #select-button #chevrons{
    color: #D29EE5;
}

#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-down"]{
    display: none;
}

#options-view-button:checked + #select-button #chevrons
[data-lucide="chevron-up"]{
    display: block;
}

#category-select{
    position: relative;
}

#options-view-button{
    all: unset;

    position: absolute;
    inset: 0;

    cursor: pointer;
    z-index: 3;
}

#options{
    margin-top: .25rem;

    border-radius: .375rem;
    border: 1px solid #252529;
    background: #ffffff;

    display: none;
}

.option {
    display: flex;
    align-items: center;
    gap: .5rem;

    padding: .75rem;

    /* width:100%; */
    border-bottom: 1px solid #252529;

    position: relative;

}

.option .label {
    color: #000000;
}

.option svg{
    width: 1rem;
    height: 1rem;
}

.option svg:last-child{
    margin-left: auto;
    color: #D29EE5;
    display: none;
}

.option:has(input:checked),
.option:hover {
    border-bottom: 1px solid #252529;
    background-color: #F0DFF6;
}

.option:has(input:focus){
    outline: 1px solid #D29EE5;
}   

.option [data-lucide="check"]{
    display: none;
}

.option:has(input:checked) [data-lucide="check"]{
    display: block;
}

.option input[type="radio"]{
    all:unset;

    position: absolute;
    inset:0;

    cursor:pointer;
}

.option:nth-child(1){
    color: #D29EE5;
}

.option:nth-child(2){
    color: #D29EE5;
}

.option:nth-child(3){
    color: #D29EE5;
}

.option:nth-child(3){
    color: #D29EE5;
}

.option:nth-child(4){
    color: #D29EE5;
}

.option:nth-child(5){
    color: #D29EE5;
}

.option:nth-child(6){
    color: #D29EE5;
}

#category-select:has(#options-view-button:checked) + #options {
    display:block;
}

.select:has(.option input:checked) #category-select label {
    color: #D29EE5;
}

.select:has(.option input:checked) #selected-value {
    color: #000;
}









/* STYLE DO MAPS */


.select{
  width: 100%;
  padding: 0;
}

html, body {
  margin: 0;
  
}
  
  .sb-title {
    position: relative;
    top: -12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
  }
  
  .sb-title-icon {
    position: relative;
    top: -5px;
  }
  
  gmpx-split-layout {
    height: 70%;
    width: 70%;
    padding: 0;
  }
  
  gmpx-split-layout:not(:defined) {
    visibility: hidden;
  }
  
  .panel {
    background: white;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* padding: 2000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .half-input-container {
    display: flex;
    justify-content: space-between;
  }
  
  .half-input {
    max-width: 120px;
  }
  
  h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  input {
    height: 50px;
  }
  
  input {
    border: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  
  input:focus::placeholder {
    color: white;
  }