:root{
    --branco:#FAFAFA;
    --preto:#202020;
    --laranja:#DF6F3E;
    --laranja-escuro:#CF5E2C;
    --azul:#215454;
    --azul-escuro:#214245;
}

header{
    background-color: var(--azul-escuro); 
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}

.logo {
    width: 35%;
}

.enda {
    font-size: 4em;
    color: var(--branco);
}

.logo__titulo {
    margin: 0 1.5em;
    display: flex;
    align-items: center;
}


body {
    margin: 2em;
    color: var(--branco);
    background-color: var(--azul-escuro);
}

.titulo {
    color: var(--branco);
    font-size: 2em;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: black;
}

main{
    margin: 1em 3em;
}

form label{
    display: block;
    align-items: center;
    font-size: 1.5em;
    margin: 0.4em 0.1em 0.5em 0;
}

form fieldset{
    margin: 1.5em 0 0 0;
    padding: 1em;
    border: 0.2em solid var(--azul);
}

form legend{
    font-size: 1.5em;
    font-weight: bold;
}   

.input-padrao{
    display: block;
    font-size: 1em;
    padding: 1em 1em;
    width: 80%;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.input-padrao:placeholder-shown{
    display: block;
    color: var(--branco);
}


.select{
    display: block;
    font-size: 1em;
    padding: 1em 1em;
    width: 40%;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.data{
    display: block;
    font-size: 1.5em;
    padding: 1em 1em;
    width: 40%;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.horario{
    display: block;
    font-size: 1.5em;
    padding: 1em 1em;
    width: 40%;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}

.option{
    font-size: 1em;
    margin: 1em 0 1.5em 0;
}

.label-dot{
    align-items: center;
    font-size: 1em; 
    margin: 0.5em; 
}

.enviar{
    color: black;
    width: 40%;
    padding: 20px;
    border: none;
    border-radius: 10px ;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.enviar:hover{
    background-color: var(--laranja-escuro);
    transform: scale(1.05);
}

.salvar{
    color: black;
    width: 25%;
    padding: 20px;
    border: none;
    border-radius: 10px ;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 1em 0 1.5em 0;
}
.salvar:hover{
    background-color: var(--laranja-escuro);
    transform: scale(1.05);
}

.voltar{
    color: black;
    width: 25%;
    padding: 20px;
    border: none;
    border-radius: 10px ;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    margin: 25px 10px 0 10px;
}
.voltar:hover{
    background-color: var(--laranja-escuro);
    transform: scale(1.05);
}